[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-cloudinary-storage = "*"
cloudinary = "*"
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
railwayapp = "*"

[dev-packages]

[requires]
python_version = "3.11"
